* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#display,
#solutions {
  margin: 0;
  height: auto;
  min-height: 80px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #747474;
  font-size: 46px;
  line-height: 60px;
  font-weight: 600;
  padding: 5px 15px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
  overflow: hidden;
}

#solutions {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
}

button {
  margin: 10px;
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  color: #747474;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-mode button {
  background-color: #f1f3f6;
  box-shadow: -6px -6px 20px 0 #fff, 6px 6px 20px 0 rgba(0, 0, 0, 0.08),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.light-mode button:hover,
.light-mode button:focus {
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.08),
    inset -4px -4px 10px 0 #fff;
}

td {
  max-width: 100px;
}

tr:last-child td:last-child {
  column-span: all;
}

button.equal {
  background-color: #ffbd2e;
  color: white;
  border-radius: 0;
  width: 100%;
}

.main-box {
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  max-width: 425px;
}

.inner-box {
  margin: 4px;
}

.light-mode button.dark-btn {
  background-color: #dedede;
}

.light-mode button.dark-btn:hover,
.light-mode button.dark-btn:focus {
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.08),
    inset -4px -4px 10px 0 #dedede;
}

button.blue-btn {
  background-color: #6f9bdc;
  color: #fff;
}

button.blue-btn:hover,
button.blue-btn:focus {
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.08),
    inset -4px -4px 10px 0 #3471cc;
}

button.equal:hover,
button.equal:focus {
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.08),
    inset -4px -4px 10px 0 #ffbd2e;
}

.light-mode .main-box {
  background-color: #f1f3f6;
  box-shadow: -3px -3px 10px 0 #fff, 3px 3px 10px rgba(0, 0, 0, 0.08),
    inset 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 12px solid #f1f3f6;
}

/* responsive css */
@media (max-width: 767px) {
  button {
    margin: 8px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
